@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
    .link {
        @apply border-2 border-blue-700 rounded-lg px-4 py-2 hover:bg-cyan-500 transition-all
    }
    .button {
        @apply border-2 border-black p-2 rounded-md font-bold flex justify-center items-center transition ease-in-out duration-200 hover:bg-black hover:text-white hover:cursor-pointer
    }
    .float-background {
        background-color: rgb(0 0 0 / 20%);
    }
    .float-background-dark {
        background-color: rgb(0 0 0 / 35%);
    }
    .nav-org {
        @apply p-2 text-cyan-700 pl-1 text-2xl hover:cursor-pointer
    }
    .nav-team {
        @apply p-2 pb-0 text-cyan-500 pl-2 text-xl hover:cursor-pointer
    }
    .nav-project {
        @apply px-2 py-0 pl-3 text-white hover:cursor-pointer
    }
    .nav-project-active {
        @apply bg-blue-400 text-black py-2
    }
    .card {
        @apply shadow-md rounded-lg p-4
    }
    .tag {
        @apply p-1 border border-black rounded-full
    }
}

* {
    box-sizing: border-box;
}

#interstitial {
    z-index: 999;
    background: rgb(209 206 206 / 57%);
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}